/*

This document is written in BEM.
Block = .block
Element = .block__element
Modifier = .block__element--modifier || .block--modifier

Bootstrap CSS is also included in the HTML document.

*/

/* Block ******************************************************************/

.html{
  height:100%;
}

.background {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
}

.weather {
  width: 50vw;
  height: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Element ****************************************************************/

.weather__container{
  background-color: rgba(200, 200, 200, 0.8);
  box-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  position: absolute;

}

.weather__text {
  font-size: 4vw ;
  text-align: center;
  margin-top: 5px;
  text-shadow: 1px 1px 1px #000;
}

.weather__icon {
  position: absolute;
  right: 55%;
  bottom: 5%;
  height: 60%;
}

.weather__town {
  text-align: center;
}

.weather__search {
  width: 85%;
  position: relative;
  left: 7.5%;
}

.weather__searchButton{
    border:0;
    background:transparent;
}

.weather__searchInput{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}


/* Modifier ***************************************************************/

.weather__container--temperature {
  height: 65%;
  width: 85%;
  left: 7.5%;
  top: 20%;
}

.weather__container--lower{
  height: 12%;
  width: 35%;
  bottom: 0;
  margin: 1%;
}

.weather__container--windSpeed {
  left: 6%;
}

.weather__container--skyCover {
  right: 6%;
}

.weather__text--town {
  margin: 1%;
  position: absolute;
  top: 1%;
}

.weather__text--temperature {
  font-size: 10vw;
  float: right;
  margin-top: 32%;
  padding-right: 5%;
  display: inline;
}
